<nz-layout>
  <nz-header>
    <app-navbar>
      @if(isMobile$ | async){
      <button
        nz-button
        nzType="text"
        (click)="openDrawer()"
        style="color: white; font-size: 24px"
        aria-label="Abrir menu"
      >
        <i nz-icon nzType="menu"></i>
      </button>
      }
    </app-navbar>
  </nz-header>

  <nz-drawer
    [nzVisible]="drawerVisible"
    nzPlacement="left"
    nzClosable="true"
    (nzOnClose)="closeDrawer()"
    [nzWidth]="250"
  >
    <app-sidebar></app-sidebar>
  </nz-drawer>

  <nz-content
    style="padding: 16px; min-height: calc(100vh - 64px); background: #f0f2f5"
  >
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
